html {
  // box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(
    to right,
    $color-gradient-brown,
    $color-gradient-blue
  );
  min-height: 100vh;
  height: auto;
  color: $color-white-1;
}

.main {
  min-height: 100vh;
  height: auto;
  margin: 0 25px;
  // background-color: khaki;
  @media screen and (max-width: 900px) {
    margin: 0 15px;
  }

  @media screen and (max-width: 600px) {
    margin: 0;
  }
}
