$color-gradient-brown: #3c302d;
$color-gradient-blue: #343d48;

$color-white-1: rgb(234, 238, 240);
$color-white-2: #d5d8da;
$color-grey: rgb(168, 166, 162);
$color-grey-2: #777777;
$color-black-1: rgb(36, 37, 39);

$color-primary: #2d91da;

$color-error: rgb(223, 81, 39);
