.list {
  display: grid;
  grid-template-rows: 40px repeat(7, 35px);
  grid-template-columns: minmax(48px, 140px) minmax(750px, 1fr) minmax(
      48px,
      140px
    );
  row-gap: 10px;
  width: 100%;

  @media screen and (max-width: 900px) {
    grid-template-rows: 40px repeat(7, 27px);
    grid-template-columns: 36px 1fr 36px;
    row-gap: 8px;
  }

  @media screen and (max-width: 600px) {
    grid-template-rows: 40px repeat(7, 27px);
  }

  //   background-color: rgb(50, 73, 65);
  &__title {
    text-transform: uppercase;
    letter-spacing: 3px;
    grid-area: 1/2 / span 1 / span 1;
  }

  &__content {
    grid-area: 2/2 / -1 / span 1;
  }

  &__btn {
    &--prev {
      grid-area: 2/1 / -1 / span 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      //   background-color: rgb(139, 116, 86);
    }

    &--next {
      grid-area: 2/3 / -1 / span 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      //   background-color: rgb(139, 116, 86);
    }

    &--icon {
      //   background-color: cadetblue;
      height: 100%;
      transition: all 0.1s;
      border: 2px solid transparent;

      &:hover {
        background-color: rgba($color-black-1, 0.4);
        border-color: $color-grey;
        transform: translateY(-5px);
        box-shadow: 0 5px 25px 5px rbga($color-black-2, 0.6);
      }

      &:active {
        transform: translateY(0px);
      }
    }
  }

  &__posters {
    grid-area: 2/2 / -1 / span 1;
    list-style: none;
    display: flex;
    align-items: center;
    // background-color: rgb(48, 29, 66);
    padding: 0;
    margin: 0;

    overflow: hidden;
    display: grid;
    // grid-template-columns: repeat(6, 190px);
    column-gap: 10px;
    grid-auto-flow: column;
  }

  &__item {
    // background-color: rgb(85, 38, 38);
    width: 188px;
    height: 90%;
    z-index: 100;
    // transform: translateX(-100%);
    overflow: hidden;
    @include flex-center(row);
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.1s;

    &:hover {
      transform: translateY(-8px);
      transform-origin: bottom;
      border-color: $color-primary;
      box-shadow: 0px 10px 15px 0px rgba($color-black-2, 0.6);
    }

    & img {
      width: 100%;
    }
    @media screen and (max-width: 900px) {
      width: 150px;
    }
  }
}
