.search-result {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: minmax(48px, 140px) minmax(750px, 1fr) minmax(
      48px,
      140px
    );
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  @media screen and (max-width: 1200px) {
    grid-template-columns: minmax(48px, 96px) minmax(750px, 1fr) minmax(
        48px,
        96px
      );
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 36px 1fr 36px;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 36px 1fr 36px;
  }

  &__title-box {
    grid-area: 1/2 / span 1 / span 1;
    display: flex;
  }

  &__title {
    letter-spacing: 3px;
    padding-right: 10px;
  }

  &__randomise {
    align-self: flex-end;

    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    @include flex-center(row);

    &:hover * {
      transform-origin: center;
      color: $color-secondary;
      animation: dice 0.5s forwards;
      @keyframes dice {
        0% {
          transform: rotate(90deg);
        }
      }
    }

    &* {
      margin: 0;
      padding: 0;
    }
  }

  &__posters {
    grid-area: 2/2 / -1 / span 1;

    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
    align-items: center;

    z-index: 0;
    width: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    @media screen and (max-width: 1500px) {
      grid-template-columns: repeat(7, 1fr);
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media screen and (max-width: 1050px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
    }

    &:hover .search-result__item:not(:hover) {
      opacity: 0.7;
      transform: scale(0.96);

      & * {
        filter: grayscale(50%);
      }
    }
  }

  &__item {
    width: inherit;
    height: 100%;
    overflow: hidden;
    @include flex-center(row);
    justify-content: flex-start;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.1s;
    z-index: 1;

    &:hover {
      border: 2px solid $color-primary;
    }

    & img {
      box-sizing: border-box;
      border: 2px solid transparent;
      height: 100%;
      width: 100%;
    }
  }
}
