.banner {
  box-sizing: border-box;
  width: 100%;

  border: 2px solid $color-grey;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: minmax(0px, 120px) 1fr minmax(0px, 120px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;

  @media only screen and (max-width: 900px) {
    grid-template-columns: 10px 1fr 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  @media only screen and (max-width: 600px) {
    grid-template-rows: repeat(8, 30px);
    grid-row-gap: 5px;
    grid-column-gap: 0px;
  }


  &__box {
    grid-area: 4/2 / span 4 / span 1;
    @include flex-center(column);

    @media only screen and (max-width: 600px) {
      grid-area: 4/2 / span 2 / span 1;
    }
  }
}

.bg {
  &-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("./assets/bg-1.jpg");
  }

  &-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("./assets/bg-2.jpg");
  }
}

.navbar {
  height: auto;
  //   background-color: lightgray;
  grid-area: 1/2 / span 2 / span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  @include flex-center(row);

  &__user {
    padding-right: 10px;
  }

  &__link {
    & * {
      transition: all 0.1s;
    }

    &:hover * {
      color: $color-secondary;
    }
  }
}

.logo {
  @include logo;
}

.search {
  @include flex-center(row);
  width: 100%;
  &__input {
    @include input;
    grid-area: 4/2 / span 4 / span 1;
    width: 652px;
    height: 48px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;

    &:focus {
      border-right: none;
    }

    @media only screen and (max-width: 900px) {
      width: inherit;
      max-width: 652px;
    }
  }

  &__btn {
    background-color: $color-white-1;
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;

    & * {
      margin-top: 4px;
    }
  }
}

.menu {
  @include flex-center(row);
  justify-content: space-between;
  width: 400px;

  &__item {
    cursor: pointer;

    & * {
      transition: all 0.1s;
    }

    &:hover * {
      color: $color-secondary;
    }
  }
}
