.details {
  align-items: flex-start;
  &__title {
    font-size: 72px;
    margin: 5px 0;
    padding: 0;
    letter-spacing: 2px;
    @media screen and (max-width: 1200px) {
      font-size: 60px;
    }

    @media screen and (max-width: 700px) {
      font-size: 48px;
    }
  }

  &__tagline {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;

    @media screen and (max-width: 700px) {
      font-size: 24px;
    }
  }
}

.info {
  margin-top: -20px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: minmax(0px, 120px) 1fr minmax(0px, 120px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;

  @media only screen and (max-width: 1200px) {
    grid-template-columns: 40px 1fr 40px;
  }

  @media only screen and (max-width: 900px) {
    grid-template-columns: 10px 1fr 10px;
    grid-column-gap: 10px;
  }

  @media only screen and (max-width: 700px) {
    grid-template-rows: repeat(8, 30px);
    grid-row-gap: 5px;
    grid-column-gap: 0px;
  }

  &__area {
    grid-area: 2/2 / span 8 / span 1;
    display: grid;
    height: 430px;

    grid-template-columns: minmax(0, 270px) 1fr;
    box-shadow: 0 15px 20px 5px rgba($color-black-2, 0.4);

    @media screen and (max-width: 900px) {
      //   grid-template-columns: minmax(0, 100px) 1fr;
    }

    @media screen and (max-width: 700px) {
      grid-template-columns: 0 1fr;
      height: auto;
    }
  }

  &__poster {
    overflow: hidden;

    @media screen and (max-width: 700px) {
      display: none;
    }

    & img {
      height: 100%;
    }
  }

  &__container {
    grid-column: 2/-1;
    height: 430px;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba($color-gradient-brown-2, 0.6),
      rgba($color-gradient-blue-2, 0.6)
    );
    display: grid;
    border: 2px solid $color-black-1;
    box-sizing: border-box;
    grid-template-rows: auto repeat(2, 3fr) 5fr 20px;
    grid-template-columns: 2fr 3fr 48px;
    padding: 20px 20px 0 20px;

    @media screen and (max-width: 700px) {
    }

    & * {
      display: flex;
      flex-direction: column;
      padding: 0 25px 8px 0;
    }
  }

  &__title {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;

    @media screen and (max-width: 900px) {
      letter-spacing: 1px;
      font-size: 16px;
      margin: 0 0 3px 0;
    }
  }

  &__content {
    margin: 0;
    padding: 0;
    font-weight: 300;

    // @media screen and (max-width: 600px) {
    //   font-size: 14px;
    // }
  }

  &__overview {
    grid-area: 1/1 / span 1 / -1;

    & .info__content {
      max-height: 100px;
      margin-bottom: 20px;
      overflow: auto;
      @media screen and (max-width: 700px) {
        max-height: 50px;
      }
      &::-webkit-scrollbar {
        color: transparent;
      }

      @media screen and (max-width: 700px) {
        max-height: initial;
      }
    }
  }

  &__release {
    grid-area: 2/1 / span 1 / span 1;
  }

  &__starring {
    grid-area: 2/2 / span 1 / span 1;
  }

  &__length {
    grid-area: 3/1 / span 1 / span 1;
  }

  &__genres {
    grid-area: 3/2 / span 1 / span 1;
  }

  &__avaliable {
    grid-area: 4/1 / span 1 / span 2;
    overflow: hidden;
  }

  &__btns {
    grid-area: 4/3 / span 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  &__link {
    height: 40px;
    width: 40px;
    transition: all 0.1s;
    padding: 0;
    position: relative;

    & * {
      position: absolute;
    }

    &:hover * {
      color: $color-secondary;
    }
  }

  &__add {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    transition: all 0.1s;
    padding: 0;
    position: relative;

    & * {
      position: absolute;
    }

    &:hover * {
      color: $color-secondary;
    }
  }

  &__message {
    grid-area: 5/1/-1/-1;
    margin: 0;
    padding: 0 8px;
    font-size: 12px;
    text-align: end;
  }
}
