@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-block-end: 20px;
  margin-block-start: 20px;
}
@media only screen and (max-width: 900px) {
  h2 {
    font-size: 4vw;
  }
}

h3 {
  font-size: 20px;
  letter-spacing: 1px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right, #3c302d, #343d48);
  min-height: 100vh;
  height: auto;
  color: #eaeef0;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  height: auto;
  margin: 0 25px;
}
@media screen and (max-width: 900px) {
  .main {
    margin: 0 15px;
  }
}
@media screen and (max-width: 600px) {
  .main {
    margin: 0;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.input {
  border: 2px solid #eaeef0;
  background-color: #d5d8da;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #242527;
  padding: 0 20px;
}
.input::placeholder {
  font-weight: 300;
  color: #777777;
}
.input:focus {
  outline: none;
  border: 2px solid #a8a6a2;
}
.input:focus:invalid {
  border-color: #df5127;
}

.swapToRight {
  transform: translateX(-100%);
}

.banner {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #a8a6a2;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: minmax(0px, 120px) 1fr minmax(0px, 120px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media only screen and (max-width: 900px) {
  .banner {
    grid-template-columns: 10px 1fr 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .banner {
    grid-template-rows: repeat(8, 30px);
    grid-row-gap: 5px;
    grid-column-gap: 0px;
  }
}
.banner__box {
  grid-area: 4/2/span 4/span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .banner__box {
    grid-area: 4/2/span 2/span 1;
  }
}

.bg-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/bg-1.jpg");
}
.bg-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/bg-2.jpg");
}

.navbar {
  height: auto;
  grid-area: 1/2/span 2/span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__user {
  padding-right: 10px;
}
.nav__link * {
  transition: all 0.1s;
}
.nav__link:hover * {
  color: #ecb10c;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 5px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search__input {
  border: 2px solid #eaeef0;
  background-color: #d5d8da;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #242527;
  padding: 0 20px;
  grid-area: 4/2/span 4/span 1;
  width: 652px;
  height: 48px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.search__input::placeholder {
  font-weight: 300;
  color: #777777;
}
.search__input:focus {
  outline: none;
  border: 2px solid #a8a6a2;
}
.search__input:focus:invalid {
  border-color: #df5127;
}
.search__input:focus {
  border-right: none;
}
@media only screen and (max-width: 900px) {
  .search__input {
    width: inherit;
    max-width: 652px;
  }
}
.search__btn {
  background-color: #eaeef0;
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.search__btn * {
  margin-top: 4px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.menu__item {
  cursor: pointer;
}
.menu__item * {
  transition: all 0.1s;
}
.menu__item:hover * {
  color: #ecb10c;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 18, 19, 0.6);
  overflow: hidden;
  backdrop-filter: blur(3px);
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.overlay__bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.overlay__container {
  width: 480px;
  height: 600px;
  border-radius: 15px;
  border: 2px solid #777777;
  box-shadow: 0 10px 20px 5px rgba(17, 18, 19, 0.5);
  background-image: linear-gradient(to bottom, #343d48, #3c302d);
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  row-gap: 15px;
  overflow: hidden;
  z-index: 10;
}
.overlay__title {
  grid-row: 2/span 1;
  text-align: center;
}
.overlay__icon span {
  letter-spacing: 0;
  font-weight: 300;
  font-size: 36px;
  color: #777777;
  padding-left: 5px;
}
.overlay__content {
  grid-row: 3/-1;
  width: 480px;
  transition: all ease 0.15s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.overlay__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.overlay__input {
  border: 2px solid transparent;
  border-bottom: 2px solid #777777;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #d5d8da;
  transition: all 70ms;
  height: 40px;
  width: 350px;
  padding-left: 10px;
}
.overlay__input::placeholder {
  font-weight: 300;
  color: #777777;
  text-transform: capitalize;
}
.overlay__input:focus {
  outline: none;
  border: 2px solid transparent;
  background-color: rgba(36, 37, 39, 0.5);
  border-bottom: 2px solid #2d91da;
  color: #d5d8da;
}
.overlay__input:focus:invalid {
  border-bottom-color: #df5127;
}
.overlay__input:not(:last-child) {
  margin-bottom: 36px;
}
.overlay__btn {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #eaeef0;
  text-transform: uppercase;
  margin-top: 60px;
  padding: 8px 25px;
  border-radius: 100px;
  border: 2px solid transparent;
  background-color: #2d91da;
  transition: all 0.1s;
}
.overlay__btn:hover {
  border: 2px solid #eaeef0;
  background-color: transparent;
  transform: scale(1.03);
}
.overlay__btn:active {
  transform: scale(1);
}
.overlay__link {
  font-size: 20px;
  font-weight: 300;
}
.overlay__link span {
  font-size: 24px;
  color: #2d91da;
  margin-left: 5px;
  cursor: pointer;
}
.overlay__link span:hover {
  font-weight: 500;
  letter-spacing: -0.25px;
}

.list {
  display: grid;
  grid-template-rows: 50px repeat(7, 42px);
  grid-template-columns: minmax(48px, 140px) minmax(750px, 1fr) minmax(48px, 140px);
  width: 100%;
}
@media screen and (max-width: 900px) {
  .list {
    grid-template-rows: 40px repeat(7, 35px);
    grid-template-columns: 36px 1fr 36px;
  }
}
@media screen and (max-width: 600px) {
  .list {
    grid-template-rows: 40px repeat(7, 27px);
  }
}
.list__title {
  text-transform: uppercase;
  letter-spacing: 3px;
  grid-area: 1/2/span 1/span 1;
  transform: translateY(7px);
}
.list__content {
  grid-area: 2/2/-1/span 1;
}
.list__btn--prev {
  grid-area: 2/1/-1/span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.list__btn--next {
  grid-area: 2/3/-1/span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.list__btn--icon {
  height: 94%;
  transition: all 0.1s;
  border: 2px solid transparent;
}
.list__btn--icon:hover {
  background-color: rgba(36, 37, 39, 0.4);
  border-color: #a8a6a2;
  transform: translateY(-5px);
  box-shadow: 0 5px 25px 5px rbga(#111213, 0.6);
}
.list__btn--icon:active {
  transform: translateY(0px);
}
.list__posters {
  grid-area: 2/2/-1/span 1;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: grid;
  column-gap: 7px;
  grid-auto-flow: column;
}
.list__item {
  width: 190px;
  height: 94%;
  z-index: 100;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all 0.1s;
}
.list__item:hover {
  transform: translateY(-7px);
  transform-origin: bottom;
  border-color: #2d91da;
  box-shadow: 0px 10px 15px 0px rgba(17, 18, 19, 0.6);
}
.list__item img {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .list__item {
    width: 155px;
  }
}

/*# sourceMappingURL=App.css.map */
