@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
h2 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-block-end: 20px;
  margin-block-start: 20px;
}
@media only screen and (max-width: 900px) {
  h2 {
    font-size: 4vw;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to right, #3c302d, #343d48);
  min-height: 100vh;
  height: auto;
  color: #eaeef0;
}

.main {
  min-height: 100vh;
  height: auto;
  margin: 0 25px;
}
@media screen and (max-width: 900px) {
  .main {
    margin: 0 15px;
  }
}
@media screen and (max-width: 600px) {
  .main {
    margin: 0;
  }
}

.banner {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #a8a6a2;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(10, 30px);
  grid-template-columns: minmax(0px, 120px) 1fr minmax(0px, 120px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media only screen and (max-width: 900px) {
  .banner {
    grid-template-columns: 10px 1fr 10px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .banner {
    grid-template-rows: repeat(8, 30px);
    grid-row-gap: 5px;
    grid-column-gap: 0px;
  }
}
.banner__box {
  grid-area: 4/2/span 4/span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .banner__box {
    grid-area: 4/2/span 2/span 1;
  }
}

.bg-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/bg-1.jpg");
}
.bg-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/bg-2.jpg");
}

.navbar {
  height: auto;
  grid-area: 1/2/span 2/span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 5px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search__input {
  border: 2px solid #eaeef0;
  background-color: #d5d8da;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #242527;
  padding: 0 20px;
  grid-area: 4/2/span 4/span 1;
  width: 652px;
  height: 48px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.search__input::placeholder {
  font-weight: 300;
  color: #777777;
}
.search__input:focus {
  outline: none;
  border: 2px solid #a8a6a2;
}
.search__input:focus:invalid {
  border-color: #df5127;
}
@media only screen and (max-width: 900px) {
  .search__input {
    width: inherit;
    max-width: 652px;
  }
}
.search__btn {
  background-color: #eaeef0;
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.search__btn * {
  margin-top: 4px;
}

/*# sourceMappingURL=App.css.map */
